﻿// node module imports
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Main colors
$app-primary--normal: #3f51b5;
$app-primary--darker: #283593;

// Font
$font-family-roboto: Roboto,"Helvetica Neue",sans-serif;