<h3>Select lists</h3>

<table mat-table [dataSource]="lists" class="mat-elevation-z8">
    <!-- Name column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Description column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.description}} </td>
    </ng-container>

    <!-- TechnicalValueType column -->
    <ng-container matColumnDef="technicalValueType">
        <th mat-header-cell *matHeaderCellDef>Value type</th>
        <td mat-cell *matCellDef="let element"> {{element.technicalValueType}}</td>
    </ng-container>

    <!-- IsDisabled column -->
    <ng-container matColumnDef="isDisabled">
        <th mat-header-cell *matHeaderCellDef>Disabled</th>
        <td mat-cell *matCellDef="let element">{{element.isDisabled}}</td>
    </ng-container>
        
    <!-- edit item column -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="edit item" (click)="editSelectList(element)">
                <mat-icon>edit</mat-icon>
                </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
