﻿@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Fullstack UI</title>
    <base href="@Url.Content("~")/" />
</head>
<body>

    @{
        <app-root></app-root>
    }

    @Html.Raw(@ViewBag.Scripts)

</body>
</html>