<h1 mat-dialog-title>Edit {{ data.name }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="model.name" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="model.description"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="cancelButton">Cancel</button>
  <button mat-button [mat-dialog-close]="model" cdkFocusInitial class="confirmButton">Ok</button>
</div>
