@import "../styles/main.global.scss";

.app-header {
    height: 40px;
    box-shadow: 0px -16px 20px 12px black;
}

.app-content {
    /*min-height: 700px;*/
    height: calc(100% - 40px);
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: $font-family-roboto;
  }

