<div class="app-container">

  <mat-toolbar class="app-header" color="primary">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
      Fullstack UI
    </div>
  </mat-toolbar>

  <main class="app-content">
    <router-outlet></router-outlet>
  </main>
  
</div>